
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a [routerLink]="['dashboard']">
                        Collateral
                    </a>
                </li>
                <li>
                    <a [routerLink]="['dashboard']" class="menu-item" [routerLinkActive]="['active-menu']">
                        <i class="fa fa-area-chart" aria-hidden="false" style="display: initial;"></i> Dashboard
                    </a>
                </li>
                <li>
                    <a [routerLink]="['contracts']" class="menu-item" [routerLinkActive]="['active-menu']">
                        <i class="fa fa-file-text-o" aria-hidden="false" style="display: initial;"></i> Contracts
                    </a>
                </li>
                <li>
                    <a [routerLink]="['exposures']" class="menu-item" [routerLinkActive]="['active-menu']">
                        <i class="fa fa-exchange" aria-hidden="false" style="display: initial;"></i> Exposures
                    </a>
                </li>
                <li>
                    <a [routerLink]="['inventory']" class="menu-item" [routerLinkActive]="['active-menu']">
                        <i class="fa fa-list-ul" aria-hidden="false" style="display: initial;"></i> Inventory
                    </a>
                </li>
                <li>
                    <a [routerLink]="['counterparties']" class="menu-item" [routerLinkActive]="['active-menu']">
                        <i class="fa fa-university" aria-hidden="false" style="display: initial;"></i> Counterparties
                    </a>
                </li>
                <li>
                    <a [routerLink]="['sink']" class="menu-item" [routerLinkActive]="['active-menu']">
                        <i class="fa fa-terminal" aria-hidden="false" style="display: initial;"></i> Kitchen Sink
                    </a>
                </li>
            </ul>

<!---
<accordion [closeOthers]="true" class="nav in" >
  <li>
    <a [routerLink]="['/Dashboard.home']"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
  </li>
  <accordion-group>
    <div accordion-heading>
      <a href=""><i class='fa fa-wrench fa-fw'></i> UI Elements<span class='fa arrow'></span></a>
    </div>
    <ul class="nav nav-second-level">
      <li>
        <a [routerLink]="['/Dashboard.panels-wells']">Panels and Wells</a>
      </li>
      <li>
        <a [routerLink]="['/Dashboard.buttons']">Buttons</a>
      </li>
      <li>
        <a [routerLink]="['/Dashboard.notifications']">Notifications</a>
      </li>
      <li>
        <a [routerLink]="['/Dashboard.typography']">Typography</a>
      </li>
      <li>
        <a [routerLink]="['/Dashboard.icons']"> Icons</a>
      </li>
      <li>
        <a [routerLink]="['/Dashboard.grid']">Grid</a>
      </li>
    </ul>
  </accordion-group>
  <accordion-group>
    <div accordion-heading><a href=""><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown
      <span class="fa arrow"></span></a>
    </div>
    <ul class="nav nav-second-level">
      <li>
        <a href="">Second Level Item</a>
      </li>
      <li>
        <a href="">Second Level Item</a>
      </li>
    </ul>
  </accordion-group>
  <li><a href="http://www.strapui.com/">Premium Angular Themes</a></li>
</accordion>
-->

        </div>











        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->