<div class="card">
    <div class="card-header">
        <div>
            <h6>Minimum Transfer Amount</h6>
        </div>
    </div>

    <div class="card-body" style="font-size:15px">
        <div>
            value :
            <figure [value]="mta.value" [currency]="'USD'"></figure>
        </div>
        <div>
            entity : {{mta.legalEntity}}
        </div>
        <div>
            rating : {{mta.rating}}
        </div>
        <div>
            agency : {{mta.agency}}
        </div>
        <div>
            seniority : {{mta.seniority}}
        </div>

    </div>
</div>