<div class="card">
    <div class="card-header">
        <div>
            <h6>Threshold</h6>
        </div>
    </div>

    <div class="card-body" style="font-size:15px">
        <div>
            value :
            <figure [value]="threshold.value" [currency]="'USD'"></figure>
        </div>
        <div>
            entity : {{threshold.legalEntity}}
        </div>
        <div>
            rating : {{threshold.rating}}
        </div>
        <div>
            agency : {{threshold.agency}}
        </div>
        <div>
            seniority : {{threshold.seniority}}
        </div>

    </div>
</div>