
<div class="panel panel-default collateral-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Summary</h3>
    </div>
    <div class="panel-body">
        This is a summary23
    </div>
</div>

<statistics [datas]="statistics"></statistics>

<div class="row collateral-panel">
    <div class="col-md-4" style="padding-left:0px">
        <threshold-card [threshold]="exposure.threshold"></threshold-card> 
    </div>
    <div class="col-md-4">
        <mta-card [mta]="exposure.mta"></mta-card> 
    </div>
    <div class="col-md-4" style="padding-right:0px">
        <dispute-card [dispute]="exposure.dispute"></dispute-card> 
    </div>
</div>

