<statistics [datas]="statistics">
</statistics>

<div class="row collateral-panel">
        <div class="col-md-6" style="padding-left:0px">
                <div class="panel panel-default">
                        <div class="panel-heading">
                                <h3 class="panel-title">Collateral by Type</h3>
                        </div>
                        <div class="panel-body">
                                <base-chart class="chart" [datasets]="typeChartData" [labels]="typeChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                                        [chartType]="barChartType"></base-chart>
                        </div>
                </div>
        </div>
        <div class="col-md-6" style="padding-right:0px">
                <div class="panel panel-default">
                        <div class="panel-heading">
                                <h3 class="panel-title">Collateral by Category</h3>
                        </div>
                        <div class="panel-body">
                                <base-chart class="chart" [datasets]="categoryChartData" [labels]="categoryChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
                                        [chartType]="barChartType"></base-chart>
                        </div>
                </div>
        </div>
</div>

<grid [datas]="collaterals" [config]="config" [loading]="loading">
        <table-buttons>
        </table-buttons>
</grid>