
  <div *ngIf="typeaheadLoading===true">
    <i class="glyphicon glyphicon-refresh ng-hide" style=""></i>
  </div>
  <div *ngIf="typeaheadNoResults===true" class="" style="">
    <i class="glyphicon glyphicon-remove"></i> No Results Found
  </div>



    <statistics [datas]="statistics">
            <statistics-footer>
                <progressbar [max]="-allocation.required" [value]="allocation.allocated"></progressbar>
            </statistics-footer>
    </statistics>

  <div class="panel panel-default collateral-panel">
        <div class="panel-heading table-toolbar">
            <table style="width:100%">
                <tr>
                    <td width="50%">
                        <input [(ngModel)]="asyncSelected"
                              [typeahead]="dataSource"
                              (typeaheadLoading)="changeTypeaheadLoading($event)"
                              (typeaheadNoResults)="changeTypeaheadNoResults($event)"
                              (typeaheadOnSelect)="typeaheadOnSelect($event)"
                              [typeaheadOptionsLimit]="7"
                              [typeaheadOptionField]="'name'"
                              placeholder="Locations loaded with timeout"
                              class="form-control">
                    </td>
                    <td width="50%" style="text-align:right;">
                        <button type="button" class="btn btn-primary" (click)="openInventory()">INVENTORY</button>
                    </td>
                </tr>
            </table>
        </div>
    <div class="panel-body" *ngIf="collateral!=null">

            <div class="row">
            <div class="col-md-6">

            <table class="data-list">
                <tbody>
                    <tr>
                        <th>Id:</th>
                        <td>{{collateral.id}}</td>
                    </tr>
                    <tr>
                        <th>Code:</th>
                        <td>{{collateral.code}}</td>
                    </tr>
                    <tr>
                        <th>Name:</th>
                        <td>{{collateral.name}}</td>
                    </tr>
                </tbody>
            </table>

            </div>
            <div class="col-md-6">

            <table class="data-list">
                <tbody>
                    <tr>
                        <th>Type:</th>
                        <td>{{collateral.type}}</td>
                    </tr>
                    <tr>
                        <th>Category:</th>
                        <td>{{collateral.category}}</td>
                    </tr>
                    <tr>
                        <th>Value:</th>
                        <td>{{collateral.value}}</td>
                    </tr>
                </tbody>
            </table>

            </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group pull-right">
                            <button type="button" class="btn btn-default" (click)="cancel()">Cancel</button>
                            <button type="button" class="btn btn-primary" (click)="add(collateral)">Add</button>
                    </div>
                </div>
            </div>
    </div>
</div>

<grid [datas]="allocations" [config]="config" [loading]="loading">
        <table-buttons>
        </table-buttons>
</grid>

  <br>
  <br>
  <br>
  <br> 
  <br>
  <br> 
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>