
            <div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">

                <div class="modal-header">
                    <table style="width:100%">
                    <tr>
                        <td style="text-align:left">
                            <button type="button" class="btn btn-link btn-xlg" (click)="modal.hide()">
                                <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                            </button>
                        </td>
                        <td style="text-align:right">
                            <button type="button" class="btn btn-link btn-xlg" *ngIf="mode!='edit'" (click)="edit(model)">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-link btn-xlg" *ngIf="mode!='edit'" (click)="delete(model)">
                                <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                    </table>
                </div>
                 
                <div class="modal-body">
                
                <table style="width:100%">
                    <tr>
                        <td width="25%" style="text-align: center; vertical-align: text-top;">
                            <div width="100%">
                                <img class="avatar" alt="Avatar"  src="assets/png/avatar.png" width="120px" height="120pxpx"> 
                            </div>
                            <br>
                            <div width="100%">
                                <h4>{{model.firstName}} {{model.lastName}}</h4>
                            </div>
                        </td>
                        <td width="75%">
                            <div class="panel panel-default top-panel">
                                <div class="panel-body">
                                    

                                    <div *ngIf="mode=='edit'">
                                    <form class="form-horizontal" (ngSubmit)="submit()" #contactForm="ngForm">
                                    <fieldset>
                                        <legend>Edit Contact</legend>
                                            <div class="form-group" [ngClass]="{'has-error': !(firstName.valid || firstName.pristine)}">
                                            <label for="firstName" class="col-lg-2 control-label">First Name</label>
                                            <div class="col-lg-10">
                                                <input type="text"  class="form-control" id="firstName"
                                                    required
                                                    [(ngModel)]="model.firstName" name="firstName" placeholder="First Name" #firstName="ngModel">
                                                <div [hidden]="firstName.valid || firstName.pristine" class="validation-block">
                                                    First Name is required
                                                </div>
                                            </div>
                                            </div>

                                            <div class="form-group" [ngClass]="{'has-error': !(lastName.valid || lastName.pristine)}">
                                            <label for="lastName" class="col-lg-2 control-label">Last Name</label>
                                            <div class="col-lg-10">
                                                <input type="text"  class="form-control" id="lastName"
                                                    required
                                                    [(ngModel)]="model.lastName" name="lastName" placeholder="Last Name"  #lastName="ngModel">
                                                <div [hidden]="lastName.valid || lastName.pristine" class="validation-block">
                                                    Last Name is required
                                                </div>
                                            </div>
                                            </div>

                                            <div class="form-group" [ngClass]="{'has-error': !(email.valid || email.pristine)}">
                                            <label for="email" class="col-lg-2 control-label">Email</label>
                                            <div class="col-lg-10">
                                                <input type="text"  class="form-control" id="email"
                                                    required
                                                    [(ngModel)]="model.email" name="email" placeholder="Email" #email="ngModel">
                                                <div [hidden]="email.valid || email.pristine" class="validation-block">
                                                    Email is required
                                                </div>                
                                            </div>
                                            </div>

                                            <div class="form-group" [ngClass]="{'has-error': !(phone.valid || phone.pristine)}">
                                            <label for="phone" class="col-lg-2 control-label">Phone Number</label>
                                            <div class="col-lg-10">
                                                <input type="text"  class="form-control" id="phone"
                                                    required
                                                    [(ngModel)]="model.phone" name="phone" placeholder="Phone Number" #phone="ngModel">
                                                <div [hidden]="phone.valid || phone.pristine" class="validation-block">
                                                    Phone Number is required
                                                </div>     
                                            </div>
                                            </div>

                                            <div class="form-group" [ngClass]="{'has-error': !(role.valid || role.pristine)}">
                                            <label for="role" class="col-lg-2 control-label">Role</label>
                                            <div class="col-lg-10">
                                                <select class="form-control"  id="role"
                                                        required
                                                        [(ngModel)]="model.role" name="role" #role="ngModel">
                                                    <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                                                </select>
                                                <div [hidden]="role.valid || role.pristine" class="validation-block">
                                                    Role is required
                                                </div>  
                                            </div>
                                            </div>

                                            <div class="modal-footer">
                                                <div class="form-group">
                                                <div class="col-lg-10 col-lg-offset-2">
                                                    <button type="button" class="btn btn-default" (click)="view(model)">Cancel</button>
                                                    <button type="submit" class="btn btn-primary" [disabled]="!contactForm.form.valid">Submit</button>
                                                </div>
                                                </div>
                                            </div>

                                    </fieldset>                
                                </form>
                                </div>
                                <div *ngIf="mode=='view'">
                                    <legend>View Contact</legend>
                                    <table class="data-list">
                                        <tbody>
                                            <tr>
                                                <th>First Name:</th>
                                                <td>{{model.firstName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Last Name:</th>
                                                <td>{{model.lastName}}</td>
                                            </tr>
                                            <tr>
                                                <th>Email:</th>
                                                <td>{{model.email}}</td>
                                            </tr>
                                            <tr>
                                                <th>Phone:</th>
                                                <td>{{model.phone}}</td>
                                            </tr>
                                            <tr>
                                                <th>Role:</th>
                                                <td>{{model.role}}</td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>

                                </div>
                            </div>


                        </td>
                    </tr>
                </table>
                
                
                
                
                
                </div>

                </div>
            </div>
            </div>






















