<section [name]="'Counterparty'"></section>

<div style="background-color: white;">
  <tabset [justified]="false">
    <tab heading="SUMMARY">
      <div class="tab-body">
        <entity-summary [entity]="entity"> </entity-summary>
      </div>
    </tab>
    <tab heading="CONTRACTS">
      <div class="tab-body">
        <grid [datas]="contracts" [config]="config" [loading]="loading">
          <table-buttons>
          </table-buttons>
        </grid>
      </div>
    </tab>
  </tabset>
</div>