<section [name]="'Dashboard'"></section>

There will be something here



<div class="tab-body">

<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Threshold</h3>
            </div>
            <div class="panel-body">
            <base-chart class="chart"
           [datasets]="barChartData"
           [labels]="barChartLabels"
           [options]="barChartOptions"
           [legend]="barChartLegend"
           [chartType]="barChartType"
           ></base-chart>
            </div>
        </div>
    </div>
  <div class="col-md-4">
  	  <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Rounding</h3>
        </div>
        <div class="panel-body">
        Rounding details
        </div>
    </div>
  </div>
    <div class="col-md-4">
  	  <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">MTA</h3>
        </div>
        <div class="panel-body">
        MTA details
        </div>
    </div>
  </div>
</div>


</div>




