.table-toolbar{
    border-bottom: 1px solid ;
    border-bottom-color: #dddddd;
    color: #333333;
    padding: 10px;
    /*height: 58px;*/
    vertical-align: middle;
}

.table-toolbar .btn-toolbar {
  margin-top: 7px;
}
  
.grid-container{
    background-color: #eceff1;
}

.table tbody tr:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0.1);
}

.table thead tr {
    text-decoration: none;
    border-bottom-color: #dddddd;
    background-color: #f5f5f5;
    color: #333333;
}

.search-toolbar{
  box-shadow: none;
}

.grid-link{
    color: #333333;
    text-decoration: none !important;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.button-column {
  text-align: right;
  padding-right: 8px;
  vertical-align: middle;
}

.selector-column {
  text-align: left;
  padding-left: 20px;
  vertical-align: middle;
}