.search-toolbar{
  box-shadow: none;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

.inner-addon.left-addon {
    float: left;
    width: 50%;
}

.inner-addon.right-addon {
    float: right;
    margin-top: 5px;
}

.search-toolbar {
  height: 65px;
}

.form-control.search-toolbar {
  margin-top: -10px;
  height: 55px;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

