body {
    background: #eceff1;
    color: #333;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
Developement Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}


/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

.calypso {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/calypso-color.jpg") no-repeat center top;
    background-size: contain;
}

.appbar{
    background-color: #0288d1;
}

.panel-body-main{
    background-color: #eceff1;
    background: #eceff1;

}

.panel-body{
    background: #fff;
}

.menu-item{
    font-size: 110%;
}

.item-section{
    font-size: 20px;
}


/*
f5f5f5
*/


.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #2196f3;
    background-color: #fff;
}


/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

 /* Toggle Styles */

 #wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: hidden;
}

#sidebar-wrapper {
    z-index: 1000;
    position: absolute; 
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    box-shadow: 0 6px 6px 0 rgba(0,0,0,.30);
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: auto;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 2px;
}

.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #666666;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #3390fb;
    background: rgba(100,100,100,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #3390fb;
    background: none;
}
.no-margin{
    margin:0;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }


    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;

    }
}

.data-table {
    padding: 50px 50px 50px 50px;
}

.main-container{
    background: #eceff1;
}

.content-container{
    background: #eceff1;
    padding: 10px 10px 10px 10px;
}











.card {
  border:none;
  border-collapse: collapse;
  padding:8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
  background-color: #fff;
}

.line-separator{
  height:1px;
  background:#717171;
  border-bottom:1px solid #eceff1;
}

.tab-body {
  padding: 30px;
  background: #eceff1;
}

.tab-toolbar{
    border-top: 2px solid #dddddd;
}
.tab-header{
    border-top: 2px solid #dddddd;
}

.panel-section-header{
    background-color: #3390fb;
	box-shadow: none;
    margin: 0px;
}

loading-indicator {
   position: absolute;
   width: 100%;
   height: 100%;
   background-color: white;
 }

.collateral-blue {
    color: #3390fb;
}

.collateral-blue-bg {
    background-color: #3390fb;
}

    /* Absolute Center Spinner */
.pre-loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.pre-loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.btn-xlg {
  padding: 0px 0px;
  font-size: 22px;
  line-height: 1.3333333;
  border-radius: 3px;
}



/* Pair Data Table */
.data-list {
  width: 100%;
  margin-bottom: 20px;
}

.data-list tr {
  width: 30%;
  padding: 10px 15px;
  background-color: #ffffff;
  color: #777777;
  text-align: left;
  border-bottom: 1px solid #dddddd;
}

.data-list th {
  width: 30%;
  padding: 10px 15px;
  background-color: #ffffff;
  color: #777777;
  text-align: left;
}

.data-list td {
  padding: 10px 15px;
  background-color: #ffffff;
  text-align: left;
}

.highlight {
    display: inline;
    background: #3390fb;
    color: #ffffff; 
    padding: 8px;
    font-size: 20px;
    line-height: 0.25em + 1em;
    text-transform: uppercase;
}

.collateral-panel{
    margin: 10px;
}

.progress {
  overflow: hidden;
  height: 12px;
  margin: 10px;
  background-color: #f5f5f5;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}