<section [name]="'Kitchen Sink'"></section>

<div style="padding:30px">

</div>
    

<div class="panel panel-default top-panel">
    <div class="panel-heading">
        <h3 class="panel-title">Name</h3>
    </div>
    <div class="panel-body">
        
    <p class="title"><span class="highlight">SECTION STARTER</span></p>

    <table class="data-list">
    <tbody>
        <tr>
        <th>Last Name:</th>
        <td>Jim</td>
        </tr>
        <tr>
        <th>First Name:</th>
        <td>Sue</td>
        </tr>
        <tr>
        <th>Email:</th>
        <td>jim.sue@gmail.com</td>
        </tr>
        <tr>
        <th>Phone Number:</th>
        <td>jim.sue@gmail.com</td>
        </tr>
    </tbody>
    </table>

    </div>
</div>

There will be something here


Before The child
<br>
<br>

<child-sink #child></child-sink>

<br>
<br>

AFter the child





