<div class="panel panel-primary panel-section-header">
  <div class="panel-heading intro">
              <table style="width:100%">
              <tr>
                  <td>
                    <div>
                          <h2 class="panel-title item-section">{{name}}</h2>
                    </div>                  
                </td>
                  <td style="text-align:right">
                      <a href="#" class="btn btn-primary section-button">
                        <i class="fa fa-question-circle-o fa-2x"></i>
                      </a>
                  </td>
              </tr>
          </table>
  </div>
</div>
