

<!-- <sd-toolbar></sd-toolbar>
<sd-navbar></sd-navbar> -->
<sd-toolbar></sd-toolbar>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a [routerLink]="['dashboard']">
                        Collateral
                    </a>
                </li>
                <li>
                    <a [routerLink]="['dashboard']">Dashboard</a>
                </li>
                <li>
                    <a [routerLink]="['contracts']">Contracts</a>
                </li>
                <li>
                    <a [routerLink]="['exposures']">Exposures</a>
                </li>
                <li>
                    <a [routerLink]="['inventory']">Inventory</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->